@font-face {
    font-family: 'DS-Digital';
    src: url('./fonts/DS-Digital-Bold.eot');
    src: url('./fonts/DS-Digital-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/DS-Digital-Bold.woff') format('woff'),
        url('./fonts/DS-Digital-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'DS-Digital';
    display: flex;
    height: 100vh;
    width: 100%; 
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 22, 117);
}
.toBackUz{
    position: absolute;
    top: 20px;
    left: 50px;
}
.toBackUz-btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(64, 236, 29);
    font-family: sans-serif;
    font-size: 15px;
}
.toBackUz-btn:hover{
    background-color: rgb(48, 170, 23);
    cursor: pointer;
}
.header-date{
    background-color: #000;
    color: red;
    display: inline-block;
    padding: 1rem;
    width: 28rem;
    text-align: center;
    border-radius: 2rem;
    text-shadow: 0 0 5rem;


}
.header-date h1{
    font-size: 6rem;
}
.time{
    padding: 10px;
}